---
export interface Props {
    items: Array<string>;
}
import { Image } from 'astro:assets';

const { items } = Astro.props as Props;
---


<div class="module-tall db-tile-6 bg-dd-grey p-6">
    <div>
     {items.map((item) => (
      <div class="carousel-item">
          <h6 class="text-dd-purple mb-4">{item.category}</h6>
          <div class="header-3 mb-4">{item.text}</div>
          <a href="#" class="underline text-dd-purple">Read more</a>
          <Image src={item.image}
              alt={item.alt + ' slide'}
              width="500px"
              height="100%"
              class="self-end"
            />
      </div>
     ))}
    </div>


</div>