---
export interface Props {
    items: Array<string>;
}
import { Image } from 'astro:assets';

import { Carousel } from 'flowbite';
import type {
    CarouselItem,
    CarouselOptions,
    CarouselInterface,
} from 'flowbite';
import type { InstanceOptions } from 'flowbite';

const { items } = Astro.props as Props;
---


<div class="module-tall db-tile-6 bg-dd-grey p-6">


    <div id="carousel-example" class="relative w-full" data-items={items}>
        <!-- Carousel wrapper -->
        <div
            class="relative h-56 overflow-hidden rounded-lg sm:h-64 xl:h-96 2xl:h-96"
        >
             {items.map((item) => (
              <div class="carousel-item">
                  <h6 class="text-dd-purple mb-4">{item.category}</h6>
                  <div class="header-3 mb-4">{item.text}</div>
                  <a href="#" class="underline text-dd-purple">Read more</a>
                  <Image src={item.image}
                      loading="eager"
                      alt={item.alt + ' slide'}
                      width="500px"
                      height="100%"
                      class="self-end"
                    />
              </div>
             ))}
        </div>

        <!-- Slider controls -->
        <button
            id="data-carousel-prev"
            type="button"
            class="group absolute left-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
        >
            <span
                class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70"
            >
                <svg
                    class="h-4 w-4 text-white dark:text-gray-800"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 1 1 5l4 4"
                    />
                </svg>
                <span class="hidden">Previous</span>
            </span>
        </button>
        <button
            id="data-carousel-next"
            type="button"
            class="group absolute right-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
        >
            <span
                class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70"
            >
                <svg
                    class="h-4 w-4 text-white dark:text-gray-800"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 9 4-4-4-4"
                    />
                </svg>
                <span class="hidden">Next</span>
            </span>
        </button>
    </div>


</div>

