---

import { Image } from "astro:assets";
const { items } = Astro.props as Props;
const { src, alt, ...props } = Astro.props;

const images = await Astro.glob("../assets/images/*").then(files => {
  return files.map(file => file.default);
});

export interface Props {
    items: Array<string>;
}




---
<div class={items.class_name + ' module feature-module'}>
     <div class="flex flex-wrap h-full feature-item grid-image bg-image" id={items.tag + 'Image'}>
          <div class="container text-center self-center">
            <h5 class="">{items.tag}</h5>
            <h3>{items.feature_header}</h3>
          </div>
      </div>
</div>

<style>
    #InfrastructureImage {
      background-image: url("../assets/images/apm-bg.png");
      height: 100%;
      color: #fff;
    }
    #APHImage {
      background-image: url("../assets/images/infra-bg.png");
      height: 100%;
      color: #fff;
    }
    #LogsManagementImage {
      background-image: url("../assets/images/logs-bg.png");
      height: 100%;
      color: #fff;
    }

    /* Feature Component Styles */
    .feature-item {
      min-height: 277px;
      background-size: contain;
    }


    .feature-module {
      min-height: 250px;
    }
</style>
