---
import FormattedDate from "@components/FormattedDate.astro";

const today: Date = new Date();

interface Props {
	buildDate: Date;
}

const { buildDate } = Astro.props;
---


<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-8 py-6 lg:py-8">
        <div class="md:flex md:justify-between">

          <div class="grid grid-cols-4 gap-10">
              <div class="mb-6 md:mb-0 max-w-[180px]">
                  <button class="self-end	w-full md:max-md:mb-10 bg-transparent hover:bg-dd-purple text-white font-semibold hover:text-white py-4 px-4 border border-white hover:border-transparent text-lg text-uppercase">Free Trial</button>
                  <span class="text-gray-500">&copy; Datadog {today.getFullYear()}</span>
              </div>
              <div>
                  <h2 class="text-sm font-semibold text-white uppercase dark:text-white">Product</h2>
                  <hr class="border-gray-200 sm:mx-auto dark:border-gray-700 mt-2 mb-4" />
                  <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                      <ul class="text-gray-500 dark:text-gray-400 font-medium">
                          <li class="mb-1"><a href="/" class="hover:underline">Features</a></li>
                          <li class="mb-1"><a href="/" class="hover:underline">APM</a></li>
                          <li class="mb-1"><a href="/" class="hover:underline">Integrations</a></li>
                          <li class="mb-1"><a href="/" class="hover:underline">Alerts</a></li>
                          <li class="mb-1"><a href="/" class="hover:underline">API</a></li>
                      </ul>
                    </div>
                    <div>
                      <ul class="text-gray-500 dark:text-gray-400 font-medium">
                          <li class="mb-1"><a href="https://flowbite.com/" class="hover:underline">Pricing</a></li>
                          <li class="mb-1"><a href="https://tailwindcss.com/" class="hover:underline">Documentation</a></li>
                          <li class="mb-1"><a href="/" class="hover:underline">Support</a></li>
                          <li class="mb-1"><a href="/" class="hover:underline">Resources</a></li>
                          <li class="mb-1"><a href="/" class="hover:underline">Security</a></li>
                      </ul>
                    </div>
                  </div>

              </div>
              <div>
                  <h2 class="text-sm font-semibold text-white uppercase dark:text-white">About</h2>
                  <hr class="border-gray-200 sm:mx-auto dark:border-gray-700 mt-2 mb-4" />
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-1"><a href="/" class="hover:underline">Contact Us</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Partners</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Press</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Our Team</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Careers</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Legal</a></li>
                  </ul>
              </div>
              <div>
                  <h2 class="text-sm font-semibold text-white uppercase dark:text-white">Social</h2>
                  <hr class="border-gray-200 sm:mx-auto dark:border-gray-700 mt-2 mb-4" />
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-1"><a href="/" class="hover:underline">Blog</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Espanol</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Japanese</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Instagram</a></li>
                      <li class="mb-1"><a href="/" class="hover:underline">Twitter</a></li>
                  </ul>
              </div>
          </div>
      </div>


</footer>
