---
import HeaderLink from "@components/Link.astro";
import { localizePath } from "@utils/t.ts";
import ThemeSelector from "@components/ThemeSelector.astro";
import { Image } from 'astro:assets';
import { SITE_TITLE, PAGES } from "@src/consts";

const url = Astro.url;
---



<aside id="default-sidebar" class="hide-sm bg-dd-purple top-0 left-0 z-40 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-5 py-4 overflow-y-auto dark:bg-gray-800">
    <a	href={localizePath("/", url)}
        class="mb-10 flex gap-3 items-center text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark:text-white focus:outline-none focus:shadow-outline">
        <Image src="/src/assets/images/logo.png"
                    loading="eager"
                    alt={SITE_TITLE}
                    width="96px"
                    height="100%"
                  />
    </a>
      <ul class="space-y-2 font-medium mb-10">
        {PAGES.map((item) => (
            <li>
                <a href="#" class="flex mb-7 text-gray-900 text-white dark:text-white ">
                   <span>{item.title}</span>
                </a>
            </li>
        ))}
      </ul>
      <a href="#" class="flex mt-10 text-gray-900 text-white dark:text-white ">
        <span>Login</span>
      </a>
   </div>
</aside>


<button id="navBtn" data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="fixed mt-2 ms-3 text-sm text-gray-500 hover:text-white hover:p-1  sm:hidden hover:bg-dd-purple focus:outline-dd-orange focus:text-white focus:ring-2 focus:p-1 focus:bg-dd-purple focus:ring-dd-orange dark:text-white dark:hover:bg-dd-purple dark:focus:ring-dd-purple">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>

<style>

    @media screen and (min-width: 1px) and (max-width: 649px){
      #navBtn { z-index: 999; }
      aside:not(.active) {
        position: fixed;
        display: none;
      }

        aside.active {
          position: sticky;
          --tw-translate-x: 0%!important;
        }

    }

    @media screen and (min-width: 650px) {
      aside {
        position: sticky;
      }

    }

</style>


<script>
    const navBtn = document.getElementById("navBtn");
    const sideBar = document.getElementById("default-sidebar");

    navBtn.addEventListener("click", () => {
        sideBar.classList.toggle("active")
    });
</script>